*.o
src/*.o
*.su
src/*.su
*.txt
*.bin
.n_stamp_*
src/.n_stamp_*
CLIENT_blinding_message
SIGNER_XMSS_keygen
SIGNER_XMSS_sign
CLIENT_blind_sign
VERIFIER_verify
bench_bin
src/test_*
src/tests/test_*
!src/tests/test_*.c
